body {
	font-family: 'Merriweather', serif;
	margin: 0;

}

img {
	max-width: 100%;
}

input,
textarea,
select,
button {
	width: 15%;
	margin: 0;
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
}

legend {
	overflow: hidden;
}

input:focus,
textarea:focus {
	border-radius: 6px;
	outline: none;
}

[Type="radio"] {
	width: 10%;
}


legend {
	font-size: 1.2em;
}

input,
textarea {
	font-size: 1em;
	min-width: 100%;
}

button {
	cursor: pointer;
}

button:hover,
button:focus {
	outline: none;
	background: #D3D3D3;
	color: #ffffff;
}

/*  grids */

main {
	display: grid;
}

/* hero content */

.content {
	display: grid;
}

/* about content */

.about-content {
	display: grid;
}

/*  gallery */

.gallery {
	display: grid;
}

figure {
	display: grid;
}

/*  article */

article {
	display: grid;
}

/* form container */
.form-container {
	display: grid;
}

/* footer */

footer {
	display: grid;
}

/*  layout */

/*   mobile is the default layout*/

/* tablet layout >=48rem (768px) */

@media screen and (min-width: 48rem) {

	.mobile-first {
		display: none;
	}

	/* hero content */

	.content {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.content picture,
	.content p,
	.about-content {
		grid-column: 2/3;
	}

	/*	about content */

	/*	gallery */

	figure {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
	}

	figcaption {
		margin-left: 2rem;
	}

	/*	article */

	article,
	.form-container {
		grid-template-columns: 1fr 48rem 1fr;
	}

	article h1,
	.story-body,
	.form-container h1,
	form {
		grid-column: 2/3;
	}



	/*	form */


}

/* wide screen layout >=64rem (1024px) */

@media screen and (min-width: 64rem) {

	/*  hero content */

	/*	about content */

	/*	gallery */

	.gallery {
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		justify-items: center;

	}

	.gallery h1 {
		grid-column: 1/4;
	}

	/*	article */

	/*	form */

}
